<div class="navbar">
	<div class="navbar-inner">
		<div id="pager" class="container-fluid">
			<div class="navbar-left">
			  <button type="button" class='btn btn-primary button-previous navbar-btn disabled'><i class="fa fa-chevron-left white"></i></button>
			</div>
			<div id="progress"></div>
			<div class="navbar-right">
			  <button type="button" class='disabled btn btn-primary button-next navbar-btn' data-toggle="popover" data-placement="left" data-content="boom"><i class="fa fa-chevron-right white"></i></button>
			</div>
		</div>
	</div>
</div>
