<!--
//get the users' name / organization to create a directory for their artworks
//

-->
<div class="row">
  <div class="col-sm-1 col-md-5">
    <div class="jumbotron"><h3>Let's start</h3><h3> <small>by getting to know each other a little better</small></h3></div>
  </div>
  <div class="col-sm-1 col-md-7">
    <div class="input-group">
      <input type="text" class="form-control" id="name"/>
      <span class="input-group-btn">
        <button class="btn btn-primary" id="getStarted" type="button" style="display: none">Go!</button>
      </span>
    </div>
  </div>
</div>
